[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-login = "*"
werkzeug = "*"
flask-wtf = "*"
wtforms = "*"
pypdf4 = "*"
pypdf2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
