<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producer Authentication</title>
</head>
<body>
    <div align="center">
        <h1>We need to verify your account.</h1>
        <div class="form-group">
            <h2> Enter your One-Time Password here:</h2>
            <input type="password" id="otp" name="otp" class="form-control" placeholder="One-Time Password"/>
        </div>
    </div>
</body>
</html>