{% extends "base.html" %}
{% block title %}Competitions{% endblock %}
{% block content %}
<h1 align="center">{% block header %}Competitions{% endblock %}</h1>
    
<form action="{{ url_for('views.competitions') }}" method='POST'>
  <input type="submit" name="sorted" value="New"></input>
  <input type="submit" name="sorted" value="Top of Week"></input>
  <input type="submit" name="sorted" value="Top of Month"></input>
</form>
<br>
<div id="comps">
{% for comp in comps %}
    <div class="card border-dark">
        {% if details.accounttype == 1 %}
        <a href="/comp/{{comp.title}}"><h2>{{comp.title}}</h2></a>
        {% else %}
        <h2>{{comp.title}}</h2>
        {% endif %}
        <a href="/profilepage/{{comp.producer.user.username}}">{{comp.producer.user.username}}</a>
        <div class="card-body">
            <div class="card-text">{{comp.brief}}</div>
                <h5>Deadline:</h5>
                {{comp.deadline}}
            </div>
        <div class="card-footer text-muted">{{comp.date_created}}</div>
    </div>
<br/> {% endfor %}
</div>
{% block footer %}
{% if details.accounttype == 2 %}
<div align="center">
<a href="/post"><button type="button" class="btn btn-primary btn-lg">Create a Competition</button></a>
</div>
{% endif %}
{% endblock %} {% endblock %}
{% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
