{% extends "base.html" %}
{% block title %}Competitions{% endblock %}
{% block content %}
<h1 align="center">{% block header %}Competitions{% endblock %}</h1>
<br>
<div id="comps" class="row">
  <div class="col-3">
    <br><br>
    <h2>Genre List</h2>
    <form action="/competitions" method="POST">
        <button name="genre" value="1" class="btn btn-primary btn-lg">Drama</button><br><br>
        <button name="genre" value="2" class="btn btn-primary btn-lg">Comedy</button><br><br>
        <button name="genre" value="3" class="btn btn-primary btn-lg">Horror</button><br><br>
    </form>
  </div>
  <div class="col-6">
    <form action="{{ url_for('views.competitions') }}" method='POST'>
      <input type="submit" name="sorted" value="New"></input>
      <input type="submit" name="sorted" value="Top of Week"></input>
      <input type="submit" name="sorted" value="Top of Month"></input>
    </form>
    <br>
    {% if comps %}
      {% for comp in comps %}
          <div class="card border-dark">
              {% if details.accounttype == 1 %}
              <a href="/comp/{{comp.title}}"><h2>{{comp.title}}</h2></a>
              {% else %}
              <h2>{{comp.title}}</h2>
              {% endif %}
              <a href="/profilepage/{{comp.producer.user.username}}">{{comp.producer.user.username}}</a>
              <h4>Genres:</h4>
              {% for comp2 in comphas %}
                {% if comp2.compid == comp.compid %}
                    <b>{{comp2.has.genre}}</b><br>
                {% endif %}
              {% endfor %}
              <div class="card-body">
                  <div class="card-text">{{comp.brief}}</div>
                      <h5>Deadline:</h5>
                      {{comp.deadline}}
                  </div>
              <div class="card-footer text-muted">{{comp.date_created}}</div>
          </div>
          <br/> 
      {% endfor %}
    {% else %}
    <h1>No competitions available</h1>
    {% endif %}
  </div>
  <div class="col-3">
    {% if details.accounttype == 2 %}
    <div align="center">
      <a href="/post"><button type="button" class="btn btn-primary btn-lg">Create a Competition</button></a>
    </div>
    {% endif %}
  </div>
</div>
{% block footer %}
{% endblock %} {% endblock %}
{% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
