{% extends "base.html" %}
{% block title %}Competitions{% endblock %}
{% block content %}
<h1 align="center">{% block header %}Competitions{% endblock %}</h1>
<br>
<div id="comps" class="row">
  <div class="col-3">
    <br><br>
    <h2>Genre List</h2>
    <form action="/filter2" method="POST">
      <button name="genre" value="0" class="btn btn-primary btn-lg">All</button><br><br>
      <button name="genre" value="1" class="btn btn-primary btn-lg">Action</button><br><br>
      <button name="genre" value="2" class="btn btn-primary btn-lg">Adventure</button><br><br>
      <button name="genre" value="3" class="btn btn-primary btn-lg">Comedy</button><br><br>
      <button name="genre" value="4" class="btn btn-primary btn-lg">Drama</button><br><br>
      <button name="genre" value="5" class="btn btn-primary btn-lg">Fantasy</button><br><br>
      <button name="genre" value="6" class="btn btn-primary btn-lg">Horror</button><br><br>
      <button name="genre" value="7" class="btn btn-primary btn-lg">Musical</button><br><br>
      <button name="genre" value="8" class="btn btn-primary btn-lg">Mystery</button><br><br>
      <button name="genre" value="9" class="btn btn-primary btn-lg">Romance</button><br><br>
      <button name="genre" value="10" class="btn btn-primary btn-lg">Sci-Fi</button><br><br>
      <button name="genre" value="11" class="btn btn-primary btn-lg">Sports</button><br><br>
      <button name="genre" value="12" class="btn btn-primary btn-lg">Thriller</button><br><br>
      <button name="genre" value="13" class="btn btn-primary btn-lg">Western</button><br><br>
  </form>
  </div>
  <div class="col-6">
    <form action="/sort2" method='POST'>
      <input type="radio" name="sorted" id="default" value="0"></input>
      <label for="default">Default</label>
      <input type="radio" name="sorted" id="new" value="1"></input>
      <label for="new">New</label>
      <input type="radio" name="sorted" id="week" value="2"></input>
      <label for="week">Top of Week</label>
      <input type="radio" name="sorted" id="month" value="3"></input>
      <label for="month">Top of Month</label>
      <input type="submit" value="Submit">
    </form>
    <br>
    {% if comps %}
      {% for comp in comps %}
          <div class="card border-dark">
              {% if user.id == comp.producer.user.id %}
                        <div style="text-align:right">
                            <form action = /delete-comp/{{comp.compid}} method="POST">
                                <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this competition?')">
                            </form>
                        </div>
              {% endif %}
              {% if user.accounttype == 1 %}
              <a href="/comp/{{comp.compid}}" target="_blank"><h2>{{comp.title}}</h2></a>
              {% else %}
              <h2>{{comp.title}}</h2>
              {% endif %}
              <a href="/profilepage/{{comp.producer.user.username}}">{{comp.producer.user.username}}</a>
              <h4>Genres:</h4>
              {% for comp2 in comphas %}
                {% if comp2.compid == comp.compid %}
                    <b>{{comp2.has.genre}}</b><br>
                {% endif %}
              {% endfor %}
              <div class="card-body">
                  <div class="card-text">{{comp.brief}}</div>
                      <h5>Deadline:</h5>
                      {{comp.deadline}}
                  </div>
              <div class="card-footer text-muted">{{comp.date_created}}</div>
          </div>
          <br/> 
      {% endfor %}
    {% else %}
    <h1>No competitions available</h1>
    {% endif %}
  </div>
  <div class="col-3">
    {% if user.accounttype == 2 %}
    <div align="center">
      <a href="/post"><button type="button" class="btn btn-primary btn-lg">Create a Competition</button></a>
    </div>
    {% endif %}
  </div>
</div>
{% block footer %}
{% endblock %} {% endblock %}
<!--
{% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}-->
