{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Enter your new password:</h2>
    <form method="POST">
        <label for="password1">Password</label>
            <input 
            type="password" 
            id="password1" 
            name="password1" 
            class="form-control" 
            placeholder="Enter Password"
            />
            <br>
            <label for="password2">Reenter Password </label>
            <input 
            type="password" 
            id="password2" 
            name="password2" 
            class="form-control" 
            placeholder="Enter Password Again"
            />
            <br>
            <input type="submit" name="Submit">
    </form>
</body>
</html>
{% endblock %}