{% extends "base.html" %} {% block title %}Forgot Password{% endblock %} {% block content%} <!--This Jinja code allows this page to "inherit" the navbar from the base template.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .card {
            margin: auto;
            width: 60%;
            height: 50%;
            padding: 15px;
            border-color: black;
            text-align: center
        }
    </style>
    <div class="card" style="text-align: center; margin: auto; margin-top: 15%">
        <form method="POST">
            <h2>Enter your email:</h2>
            <br>
            <input type="email" name="email"/>
            <input type="submit" name="Submit">
        </form>
    </div>
</body>
</html>
{% endblock %}