{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
    </style>
</head>
<body>
    {{scripts}}
    {% if featured %}
        <div style="text-align: center">
            <h2>Featured Screenplay of the Day</h2>
            {% if script != None %}
                <h2>{{script.script.title}}</h2>
                {{script.script.logline}}
                <p>By: {{script.script.writer.user.username}}</p>
                <embed style="text-align: center;" src="{{url_for('static', filename='images/'+ script.script.screenplay)}}#toolbar=0" width = "75%" height = "550px%">
            {% else %}
                <h3>No featured scripts at the moment</h3>
            {% endif %}
        </div>
    {% endif %}
    <br><br>
    <div class="row">
        <div style="text-align:left" class="col-3">
            <br><br>
            <h2>Genre List</h2>
            <form action="/filter" method="POST">
                <button name="genre" value="0" class="btn btn-primary btn-lg">All</button><br><br>
                <button name="genre" value="1" class="btn btn-primary btn-lg">Action</button><br><br>
                <button name="genre" value="2" class="btn btn-primary btn-lg">Adventure</button><br><br>
                <button name="genre" value="3" class="btn btn-primary btn-lg">Comedy</button><br><br>
                <button name="genre" value="4" class="btn btn-primary btn-lg">Drama</button><br><br>
                <button name="genre" value="5" class="btn btn-primary btn-lg">Fantasy</button><br><br>
                <button name="genre" value="6" class="btn btn-primary btn-lg">Horror</button><br><br>
                <button name="genre" value="7" class="btn btn-primary btn-lg">Musical</button><br><br>
                <button name="genre" value="8" class="btn btn-primary btn-lg">Mystery</button><br><br>
                <button name="genre" value="9" class="btn btn-primary btn-lg">Romance</button><br><br>
                <button name="genre" value="10" class="btn btn-primary btn-lg">Sci-Fi</button><br><br>
                <button name="genre" value="11" class="btn btn-primary btn-lg">Sports</button><br><br>
                <button name="genre" value="12" class="btn btn-primary btn-lg">Thriller</button><br><br>
                <button name="genre" value="13" class="btn btn-primary btn-lg">Western</button><br><br>
            </form>
        </div>
        <div class="col-6">
            <form method='POST' action="/sort">
                <input type="radio" name="sorted" id="default" value="0"></input>
                <label for="default">Default</label>
                <input type="radio" name="sorted" id="new" value="1"></input>
                <label for="new">New</label>
                <input type="radio" name="sorted" id="week" value="2"></input>
                <label for="week">Top of Week</label>
                <input type="radio" name="sorted" id="month" value="3"></input>
                <label for="month">Top of Month</label>
                <input type="submit" value="Submit">
            </form>
            <br>
            <div id="posts" class="container" style="text-align:center">
            {% if posts %}
                {% for post in posts %}
                <div class="card border-dark">
                        {% if user.accounttype == 1 %}
                            <div style="text-align:left">
                                    <form class="star-rating" method = "POST" action="/rate/{{post.scriptid}}">
                                        <input class="radio-input" type="radio" id="star5" name="star-input" value="5" />
                                        <label class="radio-label" class for="star5" title="5 stars">5 stars</label>
                                        <input class="radio-input" type="radio" id="star4" name="star-input" value="4" />
                                        <label class="radio-label" for="star4" title="4 stars">4 stars</label>
                                        <input class="radio-input" type="radio" id="star3" name="star-input" value="3" />
                                        <label class="radio-label" for="star3" title="3 stars">3 stars</label>
                                        <input class="radio-input" type="radio" id="star2" name="star-input" value="2" />
                                        <label class="radio-label" for="star2" title="2 stars">2 stars</label>
                                        <input class="radio-input" type="radio" id="star1" name="star-input" value="1" />
                                        <label class="radio-label" for="star1" title="1 star">1 star</label>
                                        <br>
                                        <input type="submit" value="Submit Rating" onclick="return confirm('Are you sure you want to give the screenplay this rating? You will not be able to change your rating.')">
                                    </form>
                                    {% for like in likes %}
                                        {% if (like.writer.user.id == user.id) and (like.script.scriptid == post.scriptid) %}
                                            <p>You rated it: {{like.rating}}/5</p>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        {% endif %}
                        {% if user.id == post.writer.user.id %}
                        <div style="text-align:right">
                            <form action = /delete-post/{{post.scriptid}} method="POST">
                                <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this post?')">
                            </form>
                        </div>
                        {% endif %}
                        {% if post.screenplay %}
                        <a href="/script/{{post.scriptid}}" target="_blank"><h2>{{post.title}}</h2></a>
                        {% else %}
                        <h2>{{post.title}}</h2>
                        {% endif %}
                        By<a href="/profilepage/{{post.writer.user.id}}">{{post.writer.user.username}}</a>
                        <br>
                        <div style="text-align: center;">
                            {% if post.writer.user.profilepic %}
                            <img src="{{ url_for('static', filename='images/'+ post.writer.user.profilepic) }}" width = "110px" height = "110px" alt="Profile picture">
                            {% else %}
                            <img src="/static/images/default.jpg" alt="Default profile picture" width = "110px" height = "110px">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div style="text-align:left">
                            <h4>Genres:</h4>
                            {% for script in scripthas %}
                                {% if script.scriptid == post.scriptid %}
                                    <b>{{script.has.genre}}</b><br>
                                {% endif %}
                            {% endfor %}
                        </div>
                            <h3>Logline:</h3>
                            <p><div class="card-text">{{post.logline}}</div></p>
                            <br>
                            <h3>Message:</h3>
                            {{post.message}}
                            <br>
                            <br>
                            {% if post.screenplay %}
                            <embed style="text-align: center;" src="{{url_for('static', filename='images/'+ post.screenplay)}}#toolbar=0" width = "100%" height = "550px%"> 
                            {% else %}
                            <h2>Screenplay not available</h2>
                            {% endif %}
                        </div>
                        {% if user.accounttype == 1 %}
                        <div class="card border-dark">
                            <div class="card-body">
                            <h3>Comments</h3>
                            {% for comment in comments %}
                                {% if comment.scriptid == post.scriptid %}
                                    <div style="text-align:left">
                                        <b><a href="/profilepage/{{comment.writer.user.id}}">{{comment.writer.user.username}}</a></b>:
                                        {% if comment.writer.user.id == user.id %}
                                            {{comment.comment}}
                                            <form method="POST" action="/delete-comment/{{ comment.commentid }}"><button type="submit" name="Delete">Delete</button></form>
                                        {% else %}
                                            {{comment.comment}}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <br>
                            <form class="input-group mb-3"method="POST" action="/create-comment/{{post.scriptid}}">
                                <input type="text" id="text" name="text" class="form-control" placeholder="Comment something!"/>
                                <button type="submit" class="btn btn-primary">Comment</button>
                            </form>
                        </div>
                        {% else %}
                        <div class="text-align:left">
                            <form method="POST" name="response" action="/response/{{post.scriptid}}">
                                <input type="text" name="response" id="response" class="form-control">
                                <label for="response">Send Response</label>
                                <input type="submit">
                            </form>
                        </div>
                        <div class="text-align:right">
                            <form method="POST" action="/response/{{post.scriptid}}" name="request">
                                <label for="request">Request Full Access</label>
                                <input name="request" type="submit">
                            </form>
                        </div>
                        {% endif %}
                </div>
                <br>
                    {% endfor %}
            {% else %}
            <h1>No posts available</h1>
            {% endif %}
            </div>
        </div>
        <div class="col-3">
            <br>
            <br>
            <h1>Recommended</h1>
            {% if not recs %}
            <div style="text-align:center">
                <h4>No recommendations available</h4>
            </div>
            {% else %}
                {% for i in recs %}
                    {% if i.screenplay %}
                    <a href="/script/{{i.scriptid}}" target="_blank"><h3>{{ i.title }}</h3></a>
                    {% else %}
                    <h3>{{i.title}}</h3>
                    {% endif %}
                    <h4>{{ i.avgrating }}/5</h4>  
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
{% endblock %}