{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
      *{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
    </style>
</head>
<body>
    <div class="row">
        <div style="text-align:left" class="col-3">
            <br><br>
            <h2>Genre List</h2>
            <form action="/home" method="POST">
                <button name="genre" value="1" class="btn btn-primary btn-lg">Drama</button><br><br>
                <button name="genre" value="2" class="btn btn-primary btn-lg">Comedy</button><br><br>
                <button name="genre" value="3" class="btn btn-primary btn-lg">Horror</button><br><br>
            </form>
        </div>
        <div class="col-6">
            <form action='/home' method='POST'>
                <input type="submit" name="sorted" value="New"></input>
                <input type="submit" name="sorted" value="Top of Week"></input>
                <input type="submit" name="sorted" value="Top of Month"></input>
            </form>
            <br>
            <div id="posts" class="container" style="text-align:center">
            {% if posts %}
                {% for post in posts %}
                <div class="card border-dark">
                        <form method = "POST" action="/rate/{{post.scriptid}}">
                            <div class="rate" style="text-align:left">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <br>
                            <div style="text-align:left">
                                <input type="submit" value="Submit Rating">
                            </div>
                        </form>
                        {% if user.id == post.writer.user.id %}
                        <div style="text-align:right">
                            <form action = /delete-post/{{post.scriptid}} method="POST">
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                        {% endif %}
                        <h2>{{post.title}}</h2>
                        By<a href="/profilepage/{{post.writer.user.id}}">{{post.writer.user.username}}</a>
                        {% if post.writer.user.profilepic %}
                        <img src="{{ url_for('static', filename='images/'+ post.writer.user.profilepic) }}" width = "110px" height = "110px" alt="Profile picture">
                        {% else %}
                        <img src="/static/images/default.jpg" alt="Default profile picture">
                        {% endif %}
                        <div class="card-body">
                            <div style="text-align:left">
                            <h4>Genres:</h4>
                            {% for script in scripthas %}
                                {% if script.scriptid == post.scriptid %}
                                    <b>{{script.has.genre}}</b><br>
                                {% endif %}
                            {% endfor %}
                        </div>
                            <h3>Logline:</h3>
                            <p><div class="card-text">{{post.logline}}</div></p>
                            <br>
                            <h3>Message:</h3>
                            {{post.message}}
                            <br>
                            <br>
                            <embed style="text-align: center;" src="{{url_for('static', filename='images/'+ post.screenplay)}}#toolbar=0" width = "100%" height = "550px%"> 
                        </div>
                        {% if user.accounttype == 1 %}
                        <div class="card border-dark">
                            <div class="card-body">
                            <h3>Comments</h3>
                            {% for comment in comments %}
                                {% if comment.scriptid == post.scriptid %}
                                    <div style="text-align:left">
                                        <b><a href="/profilepage/{{comment.writer.user.id}}">{{comment.writer.user.username}}</a></b>:
                                        {{comment.comment}}
                                    </div>
                                    <form method="POST" action="/delete-comment/{{ comment.commentid }}">
                                        <button type="submit" name="Delete">Delete</button>
                                    </form>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <br>
                            <form class="input-group mb-3"method="POST" action="/create-comment/{{post.scriptid}}">
                                <input type="text" id="text" name="text" class="form-control" placeholder="Comment something!"/>
                                <button type="submit" class="btn btn-primary">Comment</button>
                            </form>
                        </div>
                        {% else %}
                        <div class="text-align:left">
                            <form method="POST" name="response" action="/response/{{post.scriptid}}">
                                <input type="text" name="response" id="response" class="form-control">
                                <label for="response">Send Response</label>
                                <input type="submit">
                            </form>
                        </div>
                        <div class="text-align:right">
                            <form method="POST" action="/response/{{post.scriptid}}" name="request">
                                <label for="request">Request Full Access</label>
                                <input name="request" type="submit">
                            </form>
                        </div>
                        {% endif %}
                </div>
                <br>
                    {% endfor %}
            {% else %}
            <h1>No posts available</h1>
            {% endif %}
            </div>
        </div>
        <div class="col-3">
            <br>
            <br>
            <h1>Recommended</h1>
            {% if not recs %}
            <div style="text-align:center">
                <h4>No reccomendations available</h4>
            </div>
            {% else %}
                {% for i in recs %}
                    <h3>{{ i[0] }}</h3>
                    <h4>{{ i[1] }}</h4>  
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
{% endblock %}