{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align:center">
        <h1>Leaderboard</h1>
        {% if writers %}
            {% for writer in writers %}
                    <div class="card" style="text-align:center;margin: auto; width:30%; padding:10px">
                        <a href="/profilepage/{{writer.user.id}}" target="_blank"><h3>{{writer.user.username}}</h3></a>
                        <h4>Experience Level: {{ writer.experiencelevel }}<h4>
                    </div>
            {% endfor %}
        {% else %}
            <h1>Leaderboard currently unavailable</h1>
            {% if currentuser.accounttype == 1 %}
                <h2>Want to be the first on the board?</h2>
                <h3>Put out posts or submit to competitions to increase your experience level!</h3>
            {% endif %}
        {% endif %}
</body>
</html>
{% endblock %}