{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %} <!--This Jinja code allows this page to "inherit" the navbar from the base template.-->
<form method="POST" style="margin-top: 10%;">
    <style>
        .card {
            margin: auto;
            width: 40%;
            height: 50%;
            padding: 15px;
            border-color: black;
            text-align: center
        }
    </style>
    <h1 style="text-align: center">Writers World</h1>
    <br>
    <div class="card">
        <h2>Login</h2>
        <br>
        <div class="form-group">
            <label for="email"><h3>Email Address</h3></label>
            <input 
            style="margin: auto; width:60%"
            type="text" 
            id="email" 
            name="email" 
            class="form-control" 
            placeholder="Enter Email"
            />
            <br>
            <label for="password"><h3>Password</h3></label>
            <input 
            style="margin: auto; width:60%"
            type="password" 
            id="password" 
            name="password" 
            class="form-control" 
            placeholder="Enter Password"
            />
            <a class="nav-item nav-link" href="/forgotpassword1">Forgot password?</a>
            <br>
            <button class="btn btn-primary" type="submit">Login</button>
            <br>
            <br>
            <a class="nav-item nav-link" href="/sign-up">Don't have an account? Sign up!</a>
            </div>
        </div>
    </div>
</form>
<br>
<div style="text-align:center">
</div>
{% endblock %}