{% extends "base.html" %}
{% block title %}Notifications{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
</head>
<body>
    {% if user.accounttype == 1 %}
        <div class="row" style="text-align:center">
            <div class="col-6">
                <h1>Script Responses</h1>
                <br>
                {% for response in notifs %}
                    {% if response.responsetype == 1 %}
                        <div class="card" style="text-align:left">
                            <h4><a href="/profilepage/{{ response.producer.user.id }}" target="_blank">{{ response.producer.user.username }}</a> says {{ response.message }}</h4>
                            <form method="POST" action="/deleteresponse/{{ response.notifid }}">
                                <button type="submit" name="Delete">Delete</button>
                            </form>
                        </div>
                    {% elif response.responsetype == 3 %}
                        <div class="card" style="text-align:left">  
                            <h4><a href="/profilepage/{{ response.comment.writer.user.id }}" target="_blank">{{ response.comment.writer.user.username }}</a> says <i>{{ response.comment.comment }}</i> on <a href="/script/{{response.comment.script.scriptid}}" target="_blank">{{response.comment.script.title}}</a></h4>
                            <form method="POST" action="/deleteresponse/{{ response.notifid }}">
                                <button type="submit" name="Delete">Delete</button>
                            </form>
                        </div>
                    {% endif %}
                    {% if response.compid != None %}
                        {% if response.message %}
                            <div class="card" style="align-items: center;justify-content: center">
                                {% if response.ranking == 0 %}
                                    <h4>Your submission to {{response.comp.title}} didn't make the Top 5.</h4>
                                {% else %}
                                    <h4>Your submission to {{response.comp.title}} has been awarded</h4><h3>{{response.ranking}} place!</h3>
                                    <br>
                                    {% if response.ranking == "1st" %}
                                        <img src="/static/images/gold.png" alt="Gold medal" height="25%" width="25%">
                                    {% elif response.ranking == "2nd" %}
                                        <img src="/static/images/silver.png" alt="Gold medal" height="25%" width="25%">
                                    {% elif response.ranking == "3rd" %}
                                        <img src="/static/images/bronze.png" alt="Gold medal" height="25%" width="25%">
                                    {% endif %}
                                    <br>
                                {% endif %}
                                <h5>Response to your submission by <a href="/profilepage/{{ response.producer.user.id }}" target="_blank">{{ response.producer.user.username }}</a>:<br> <i>{{ response.message }}</i></h5>
                                <form method="POST" action="/deleteresponse/{{ response.notifid }}">
                                    <button type="submit" name="Delete">Delete</button>
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-6">
                <h1>Screenplay Requests</h1>
                <br>
                {% for request in notifs %}
                    {% if request.responsetype == 2 %}
                        {% if request.requeststatus == 0 %}
                            <div class="card" style="text-align:center">
                                <h4><a href="/profilepage/{{ request.producer.user.id }}" target="_blank">{{ request.producer.user.username }}</a> wants full access to your screenplay {{ request.script.title }}</h4>
                                <form method="POST" action="/requestresponse/{{request.notifid}}">
                                    <input type="radio" name="decision" id="accept" value="Accept">
                                    <label for="accept">Accept</label>
                                    <input type="radio" name="decision" id="decline" value="Decline">
                                    <label for="decline">Decline</label>
                                    <input type="submit" name="Submit">
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    {% if user.accounttype == 2 %}
        <div class="row" style="text-align:center">
            <div class="col-6">
                <h1>Request Responses</h1>
                {% if notifs != None %}
                    {% for response in notifs %}
                        {% if response.requeststatus == 2 %}
                            <div class="card" style="text-align:center">
                                {{response.message}}
                                <form method="POST" action="/deleteresponse/{{ response.notifid }}">
                                    <button type="submit" name="Delete">Delete</button>
                                </form>
                            </div>
                        {% endif %}
                        {% if response.requeststatus == 1 %}
                            <div class="card" style="text-align:center">
                                {{response.message}}
                                <a target="_blank" href="{{url_for('static', filename='files/'+response.script.fullfile)}}">Full Screenplay File</a>
                                <form method="POST" action="/deleteresponse/{{ response.notifid }}">
                                    <button type="submit" name="Delete">Delete</button>
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h2>No responses</h2>
                {% endif %}
            </div>
            <div class="col-6">
                <h1>Competitions</h1>
                {% for comp in comps %}
                    <div class="card" style="text-align:left">
                        {{ comp.title }}<br>
                        Deadline: {{comp.deadline_string}}
                        <a target="_blank" href="/submissions/{{comp.compid}}">Submissions: {{comp.submissionnum}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</body>
</html>
{% endblock %}
