{% extends "base.html" %}
{% block title %}Page Editor{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align:center"></div>
        <form method='POST' enctype='multipart/form-data'>
            <h2>Profile Picture: </h2>
            <input 
            type="file" 
            id="profilepic" 
            name="profilepic" 
            class="form-control" 
            placeholder="Upload Profile Picture"
            />
            <br></br>
            <h2>Biography: </h2>
            <input 
            type="text" 
            id="bio" 
            name="bio" 
            class="form-control" 
            placeholder="Enter Biography"
            />
            <br></br>
            {% if user.accounttype == 1 %}
            <h2>Background Colour: </h2>
            <input type="radio" id="red" name="bgcolour" value="Red">
            <label for="red">Red</label><br>
            <input type="radio" id="yellow" name="bgcolour" value="Yellow">
            <label for="yellow">Yellow</label><br>
            <input type="radio" id="blue" name="bgcolour" value="Blue">
            <label for="blue">Blue</label>
            <br></br>
            <!--
            <h2>Font Style: </h2>
            <input type="radio" id="r" name="bgcolour" value="Red">
            <label for="red">Red</label><br>
            <input type="radio" id="yellow" name="bgcolour" value="Yellow">
            <label for="yellow">Yellow</label><br>
            <input type="radio" id="blue" name="bgcolour" value="Blue">
            <label for="blue">Blue</label>
            <br></br>-->
            {% endif %}
            <input type = "submit" id = "submit">
        </form>
    </div>
</body>
</html>
{% endblock %}
