{% extends "base.html" %}
{% block title %}Page Editor{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align:center"></div>
        <form method='POST' enctype='multipart/form-data'>
            <h2>Profile Picture: </h2>
            <input 
            type="file" 
            id="profilepic" 
            name="profilepic" 
            class="form-control" 
            placeholder="Upload Profile Picture"
            />
            <br></br>
            <h2>Biography: </h2>
            <input 
            type="text" 
            id="bio" 
            name="bio" 
            class="form-control" 
            placeholder="Enter Biography"
            />
            <br></br>
            {% if user.accounttype == 1 %}
            <label for="colorpicker"><h2>Background Colour:</h2></label>
            <input type="color" name="colorpicker" id="colorpicker" value="#0000ff">
            <br></br>
            <h2>Font Style: </h2>
            <input type="radio" id="default" name="fontstyle" value="0">
            <label for="default">Default</label><br>
            <input type="radio" id="font1" name="fontstyle" value="1">
            <label for="font1">Serif</label><br>
            <input type="radio" id="font2" name="fontstyle" value="2">
            <label for="font2">Monospace</label><br>
            <input type="radio" id="font3" name="fontstyle" value="3">
            <label for="font3">Fantasy</label>
            <br></br>
            {% endif %}
            <br>
            <input type = "submit" id = "submit">
        </form>
    </div>
</body>
</html>
{% endblock %}
