{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <button onclick="window.location.href = 'pageeditor';">Edit Page</button>
    <br>
    <br>
    {% if user.profilepic %}
    <img src="{{ url_for('static', filename='images/'+ user.profilepic) }}" alt="Profile picture">
    {% endif %}
    <br>
    <br>
    <h3>{{  userdetails.username }}</h3>
    <h5>{{ userdetails.email }}</h5>
    {{ userdetails.biography }}
</body>
</html>
{% endblock %}

