{% extends "base.html" %}{% block title %}{{post.title}}{% endblock %} {% block content
    %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.title}}</title>
    <style>
        .profile-pic {
            width: 75px;
            height: 75px;
        }
        .user-info {
            display: flex;
            align-items: center;
            position: absolute;
            top: 70px;
            left: 10px;
            
        }
        .username {
            font-weight: bold;
            text-align: left; 
            margin-left: 15px; 
        }
        .delete-button {
            text-align: right; 
            margin-left: 1275px;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        {% if user.id == post.writer.user.id %}
            <form action = /delete-post2/{{post.scriptid}} method="POST">
                <input class="delete-button" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this post?')">
            </form>
        {% endif %}
        <div class="user-info">
            {% if post.writer.user.profilepic %}
                <img src="{{ url_for('static', filename='images/'+ post.writer.user.profilepic) }}" width = "110px" height = "110px" alt="Profile picture" class="profile-pic">
            {% else %}
                <img src="/static/images/default.jpg" alt="Default profile picture" width = "110px" height = "110px" class="profile-pic">
            {% endif %}
            <a href="/profilepage/{{post.writer.user.id}}" class="username"><h4>{{post.writer.user.username}}</h4></a>
        </div>
        <h1>{{post.title}}</h1>
        <br>
        {% if post.avgrating %}
                    <h3 style="text-align: center;">Average Rating: {{post.avgrating}}/5</h3> 
        {% endif %}
    </div>
    <br>
    <div class="row">
        {% if user.accounttype == 1 and user.id != post.writer.user.id %}
            <div class="col-4" style="text-align:left">
                <h4>Genres:</h4>
                {% for script in scripthas %}
                    {% if script.scriptid == post.scriptid %}
                        <b>{{script.has.genre}}</b><br>
                    {% endif %}
                {% endfor %}
                <br>
                <p></ps><h4>Message:</h4>{{post.message}}</p>
            </div>
            <div class="col-4" style="text-align:left">
                <h4>Logline:</h4>
                <p>{{post.logline}}</p>
            </div>
            <div class="col-4" style="text-align:left">
                <form method = "POST" action="/rate2/{{post.scriptid}}" style="text-align:center">
                    <div class="star-slider">
                        <input name="rate" type="range" min="1" max="5" step="0.5" class="starRating">
                        <p>Rating: <span class="ratingValue">3</span> stars</p>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const sliders = document.querySelectorAll('.starRating');
                            sliders.forEach((slider) => {
                                const ratingDisplay = slider.parentElement.querySelector('.ratingValue');
                    
                                slider.addEventListener('input', () => {
                                    ratingDisplay.textContent = slider.value;
                                });
                            });
                        });
                    </script>
                    <input type="submit" value="Submit Rating" onclick="return confirm('Are you sure you want to give this screenplay this rating? You cannot change your rating once it is submitted.')">
                </form>
                <br>
                <div style="text-align: center">
                    {% for like in likes %}
                            {% if like.writer.user.id == user.id %}
                                <p>You rated it: {{like.rating}}/5</p>
                            {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="col-4" style="text-align:left">
                <h4>Genres:</h4>
                {% for script in scripthas %}
                    {% if script.scriptid == post.scriptid %}
                        <b>{{script.has.genre}}</b><br>
                    {% endif %}
                {% endfor %}     
            </div>
            <div class="col-4" style="text-align:left">
                <h4>Logline:</h4>
                <p>{{post.logline}}</p>
            </div>
            <div class="col-4" style="text-align: left">
                <h4>Message:</h4>
                <p>{{post.message}}</p>
            </div>
        {% endif %}
    </div>
    <br>
    <embed style="text-align: center;" src="{{url_for('static', filename='files/'+ post.screenplay)}}#toolbar=0" width = "100%" height = "550px"> 
    <br>
    <br>
        <div class="card border-dark" style="width:700px; margin: auto; padding: 15px; margin-bottom: 20px">
        {% if user.accounttype == 1 %}
            <div class="card-body">
                <h3>Comments</h3>
                {% for comment in comments %}
                    {% if comment.scriptid == post.scriptid %}
                        <div class="row">
                            <div class="col-9" style="text-align: left">
                                <b><a href="/profilepage/{{comment.writer.user.id}}">{{comment.writer.user.username}}</a></b>: {{comment.comment}}
                            </div>
                            {% if comment.writer.user.id == user.id %}
                                <div class="col-3">
                                    <form method="POST" action="/delete-comment2/{{post.scriptid}}/{{comment.commentid}}"><button style="float: right" type="submit" name="Delete" onclick="return confirm('Are you sure you want to delete this comment?')">Delete</button></form>
                                </div>
                            {% endif %}
                        </div>                         
                    {% endif %}
                {% endfor %}
            </div>
            <form class="input-group mb-3"method="POST" action="/create-comment2/{{post.scriptid}}">
                <input type="text" id="text" name="text" class="form-control" placeholder="Comment something!"/>
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        {% else %}
            <div class="text-align:center">
                <form method="POST" name="response" action="/response2/{{post.scriptid}}">
                    <label for="response">Send Response</label>
                    <input style="margin-bottom: 10px" type="text" name="response" id="response" class="form-control">
                    <input type="submit" style="margin-left: 300px;">
                </form>
            </div>
            <br>
            <div class="text-align:center">
                <form method="POST" action="/request2/{{post.scriptid}}" style="margin-left: 220px;">
                    <label for="request">Request Full Access</label>
                    <input name="request" type="submit" onclick="return confirm('Are you sure you want to request for this screenplay?')">
                </form>
            </div>
        {% endif %}
 </body>
</html>
{% endblock %}