{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #table {
      border-collapse: collapse;
      width: 100%;
    }
    
    #table td, #table th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #table tr:nth-child(even){background-color: #f2f2f2;}
    
    #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #212121;
      color: white;
    }
/*
    .sortable-list {
    max-width: 600px;
    margin: 0 auto;
}
 
ul {
    list-style-type: none;
    padding: 0;
    border: 5px solid #000000;
}
 
li {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px;
    cursor: grab;
    border: 3px solid #000000;
}*/
    </style>
<body>
    <h1 style="text-align:center">Submissions for {{comp.title}}</h1>
    <br>
    <table id="table">
        <tr>
          <th>Username</th>
          <th>Submission</th>
          <th>Response</th>
        </tr>
        {% for sub in notifs %}
            {% if not sub.message %}
                <tr>
                    <td><a href="/profilepage/{{sub.writer.user.id}}" target="_blank">{{ sub.writer.user.username }}</a></td>
                    <td><a target="_blank" href="/static/images/{{sub.submission}}" >Link to submission</a></td>
                    <td>
                        <form method="POST" action="/sendback/{{sub.writer.user.id}}/{{sub.comp.compid}}" style="text-align: center">
                            <input type="radio" id="box" name="ranking" value="1st">
                            <label>1st&nbsp&nbsp&nbsp</label>
                            <input type="radio" id="box" name="ranking" value="2nd">
                            <label>2nd&nbsp&nbsp&nbsp</label>
                            <input type="radio" id="box" name="ranking" value="3rd">
                            <label>3rd&nbsp&nbsp&nbsp</label>
                            <input type="radio" id="box" name="ranking" value="4th">
                            <label>4th&nbsp&nbsp&nbsp</label>
                            <input type="radio" id="box" name="ranking" value="5th">
                            <label>5th&nbsp&nbsp&nbsp</label>
                            <input type="radio" id="box" name="ranking" value="0">
                            <label>Below 5th Place&nbsp&nbsp&nbsp</label>
                            <label for="response">Response:</label>
                            <input type="text" id="response" name="subresponse">
                            <input type="submit" name="Submit">
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}

<!--
        <div class="card" style="text-align:center;margin:auto;width:50%">
            <p><a href="/profilepage/{{sub.writer.user.id}}" target="_blank">Username: {{ sub.writer.user.username }}</a></p>
            <a target="_blank" href="/static/images/{{sub.submission}}" >Link to submission</a>
            <br>
            <form method="POST" action="/sendback/{{sub.writer.user.id}}/{{sub.comp.compid}}">
                <label for="response">Response:</label>
                <input type="text" id="response" name="subresponse">
                <input type="submit" name="Submit">
            </form>
        </div>
    <script>
            const sortableList =
        document.getElementById("sortable");
    let draggedItem = null;

    sortableList.addEventListener(
        "dragstart",
        (e) => {
            draggedItem = e.target;
            setTimeout(() => {
                e.target.style.display =
                    "none";
            }, 0);
    });

    sortableList.addEventListener(
        "dragend",
        (e) => {
            setTimeout(() => {
                e.target.style.display = "";
                draggedItem = null;
            }, 0);
    });

    sortableList.addEventListener(
        "dragover",
        (e) => {
            e.preventDefault();
            const afterElement =
                getDragAfterElement(
                    sortableList,
                    e.clientY);
            const currentElement =
                document.querySelector(
                    ".dragging");
            if (afterElement == null) {
                sortableList.appendChild(
                    draggedItem
                );} 
            else {
                sortableList.insertBefore(
                    draggedItem,
                    afterElement
                );}
        });

    const getDragAfterElement = (
        container, y
    ) => {
        const draggableElements = [
            ...container.querySelectorAll(
                "li:not(.dragging)"
            ),];

        return draggableElements.reduce(
            (closest, child) => {
                const box =
                    child.getBoundingClientRect();
                const offset =
                    y - box.top - box.height / 2;
                if (
                    offset < 0 &&
                    offset > closest.offset) {
                    return {
                        offset: offset,
                        element: child,
                    };} 
                else {
                    return closest;
                }},
            {
                offset: Number.NEGATIVE_INFINITY,
            }
        ).element;
    };
    </script>
    <div class="sortable-list">
        <ul id="sortable">
            {% for sub in notifs %}
                <li draggable="true">
                    User: <a href="/profilepage/{{sub.writer.user.id}}" target="_blank">{{ sub.writer.user.username }}</a><br>
                    Submission: <a target="_blank" href="/static/images/{{sub.submission}}" >Link to submission</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    -->

    
