{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for sub in submissions %}
        <div class="card" style="text-align:center">
            <p>Submission for {{ sub.comp.title }} by <a href="/profilepage/{{sub.writer.user.id}}" target="_blank">{{ sub.writer.user.username }}</a></p>
            <a target="_blank" href="/static/images/{{sub.submission}}" >Link to submission</a>
            <br>
            <form method="POST" action="/sendback/{{sub.writer.user.id}}/{{sub.comp.compid}}">
                <label for="response">Response:</label>
                <input type="text" id="response" name="subresponse">
                <input type="submit" name="Submit">
            </form>
        </div>
    {% endfor %}
</body>
</html>
{% endblock %}