{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #table {
      border-collapse: collapse;
      width: 100%;
    }
    
    #table td, #table th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #table tr:nth-child(even){background-color: #f2f2f2;}
    
    #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #212121;
      color: white;
    }
</style>
<body>
    <h1 style="text-align:center">Submissions for {{comp.title}}</h1>
    <br>
    <table id="table">
        <tr>
          <th>Username</th>
          <th>Submission</th>
          <th>Response</th>
        </tr>
        {% for sub in notifs %}
            {% if not sub.message %}
                <tr>
                    <td><a href="/profilepage/{{sub.writer.user.id}}" target="_blank">{{ sub.writer.user.username }}</a></td>
                    <td><a target="_blank" href="/static/files/{{sub.submission}}" >Link to submission</a></td>
                    <td>
                        <form method="POST" action="/sendback/{{sub.writer.user.id}}/{{sub.comp.compid}}" style="text-align: center">
                            <input type="radio" id="box" name="ranking" value="1st">
                            <label>1st&nbsp&nbsp&nbsp</label>
                            <input type="radio" id="box" name="ranking" value="2nd">
                            <label>2nd&nbsp&nbsp&nbsp</label>
                            <input type="radio" id="box" name="ranking" value="3rd">
                            <label>3rd&nbsp&nbsp&nbsp</label>
                            <input type="radio" id="box" name="ranking" value="4th">
                            <label>4th&nbsp&nbsp&nbsp</label>
                            <input type="radio" id="box" name="ranking" value="5th">
                            <label>5th&nbsp&nbsp&nbsp</label>
                            <input type="radio" id="box" name="ranking" value="0">
                            <label>Below 5th Place&nbsp&nbsp&nbsp</label>
                            <label for="response">Response:</label>
                            <input type="text" id="response" name="subresponse">
                            <input type="submit" name="Submit">
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}
    
